<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>compare</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page2.css') }}">
</head>
<body>
    
    <h1>CPU 사양 비교</h1>
    <table id="datatable1">
        <tr>
            <th>항목</th>
            {%for i in range(data|length)%} <!--data에 length 필터 적용, 즉 15개의 데이터 -> length 필터 -> 15, 데이터의 길이만큼 반복문 실행 여기서는 15번-->
            <th>제품{{loop.index }}</th> <!--index[0]부터 loop실행됨. jinja2: 1-based indexing임을 유의할 것!-->
            {%endfor%}
        </tr>
        <tbody>
            <tr>
                <th>제품 콜렉션</th>
                {%for item in data%}
                <td>{{item['제품명']}}</td>
                {%endfor%}
            </tr>
            <tr>
                <th>코어 수</th>
                {%for item in data%}
                <td>{{item['코어 수']}}</td>
                {%endfor%}
            </tr>
            <tr>
                <th>스레드 수</th>
                {%for item in data%}
                <td>{{item['스레드 수']}}</td> 
                {%endfor%}
            </tr>
            <tr>
                <th>최대 터보 주파수</th>
                {%for item in data%}
                <td>{{item['최대 터보 주파수']}}</td> 
                {%endfor%}
            </tr>
            <tr>
                <th>Performance-core 기본 주파수</th>
                {%for item in data%}
                <td>{{item['Performance-core 기본 주파수']}}</td>
                {%endfor%}
            </tr>
            <tr>
                <th>링크</th>
                {%for item in data%}
                <td><a href="https://www.intel.co.kr/{{item['링크']}}", target_= "_blank">{{item['링크']}}</a></td>
                {%endfor%}
            </tr>
        </tbody>
    </table>

    <h2>내 CPU 사양</h2>
    <table id="dadtatable2">
        <tr>
            <th>항목</th>
            <th>내 제품</th>
        </tr>
        <tbody>
            {%for key, value in my_cpu.items()%}
            
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
            {%endfor%}
        </tbody>
    
    </table>


    <!--<script src="{{ url_for('static', filename='index.js') }}"></script>-->
</body>
</html>